*{
    color: rgb(0, 0, 3);
    line-height: 1.4;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(255, 222, 255);
}

div{
    border: 2px solid grey;
    margin-bottom: 15px;
}

#bolum1{
    background-color: bisque;
}

#bolum2{
    background-color: rgb(187, 238, 240);
}

.tirnaklifont{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a{
    color: brown;
    text-decoration: none;
}

a:hover{
    color: chartreuse;
    background-color: black;
}